<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../../p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Snake Game</title>
  </head>

  <body>
    <div class="container">
      <h2>the snake</h2>
      <div id="canvas-container"></div>
    </div>

    <script src="../model/state.js"></script>
    <script src="../model/snake.js"></script>
    <script src="../model/food.js"></script>

    <script src="../controller/controlls.js"></script>
    <script src="../controller/menu.js"></script>

    <script src="../view/draw.js"></script>

    <!-- <script src="app.js" type="module"></script> -->
  </body>
</html>
